/*Tipografia*/
body header div.chamada h1{
    margin-top: 200px;
    font-size: 450%;
    justify-content: center;
}

body header div.chamada h4{
    font-size: 150%;
    justify-content: center;
}

body header div.chamada a{
    font-size: 80%;
    justify-content: center;

}


h2{
    font-size: 200%;
}

/*Header */


/*Sobre nós */

body section#Sobre-nos p.destaque
{
    font-size: 90%;
    width: 100%;
}
body section div#pontos-chaves-mestre
{
    flex-direction: column;
    align-items: center;

}

body section div.pontos-chaves
{
    width:95%;

}





/*Projetos */






/*Depoimentos */





/*Planos */




body section#Plano-principal
{
    display: none;
}




/*Rodapé */